{% extends 'api/base.html' %}

{% load static %}

{% block title %} Docs {% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui-dist/swagger-ui.css' %}"/>
{% endblock styles %}

{% block content %}
    <div id="swagger-ui"></div>
    <span class="hidden" id="swagger-url" data-swagger-url="{% url 'common:swagger-ui' %}"></span>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'swagger-ui-dist/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'common/api/js/swagger-ui.js' %}"></script>
{% endblock scripts %}